events {}
http {
        proxy_cache_path  /var/log/nginx/cache  levels=1:2  keys_zone=STATIC:10m inactive=24h  max_size=1g;

        upstream backend {
                server {{ nginx_1_container }}:{{ nginx_1_port_2 }};
                keepalive 32;
        }

        server {
                listen {{ nginx_2_port_2 }} default_server;
                listen [::]:{{ nginx_2_port_2 }} default_server;

                return 301 https://localhost;
        }

        server {
                listen {{ nginx_2_port_4 }} ssl;
                listen [::]:{{ nginx_2_port_4 }} ssl;

                ssl_protocols       TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
                ssl_ciphers         AES128-SHA:AES256-SHA:RC4-SHA:DES-CBC3-SHA:RC4-MD5;
                ssl_certificate     /etc/nginx/sites-available/localhost.crt;
                ssl_certificate_key /etc/nginx/sites-available/localhost.key;

                location / {
                        # First attempt to serve request as file, then
                        # as directory, then fall back to displaying a 404.
                        proxy_pass http://backend;
                        proxy_http_version 1.1;
                        proxy_set_header Upgrade $http_upgrade;
                        proxy_set_header Connection 'upgrade';
                        proxy_set_header Host $http_host;                
                        proxy_cache_bypass $http_upgrade;
                        proxy_cache            STATIC;
                        proxy_cache_valid      200  1d;
                        proxy_cache_use_stale  error timeout invalid_header updating http_500 http_502 http_503 http_504;
                }
        }
}